/* full margin & padding Call */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.content{
    display: flex;
    /* margin-top: 70px; */
    height: 100vh;
    background-color: #ffe5e5;
    padding: 5px;
}
.title{
    margin-top: 45px;
    padding: 20px;
    text-align: none;
    margin-bottom: 45px;
}
.content-title{
    font-size: 60px;
    margin-bottom: 50px;

}
.p1{
    font-size: 18px;
    margin-bottom: 50px;
}
.pngwing10{
    width: 525px;

}
.btn-primary{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.layout{
    text-align: center;
    margin: 100px;
}
.flower-layout{
    font-size: 50px;
    margin-top: 130px;
}
.Pink-Flower-Tree{
    border: 5px solid  #E55473;
    border-radius: 1550px 1550px 40px 40px;
    width: 390px;
    height: 435px;
    display: inline-block;
    text-align: center;
}
.content-our-featured-flowers{
    text-align: center;
    word-wrap: 50px;
    word-wrap: initial;
    
}
.content-our-featured-flowers > .Pink-Flower-Tree{
    margin-top: 10px;
}