/* full margin & padding Call */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.content{
    display: flex;
    /* margin-top: 70px; */
    height: 100vh;
    background-color: #ffe5e5;
    padding: 5px;
}
.title{
    margin-top: 45px;
    padding: 20px;
    text-align: none;
    margin-bottom: 45px;
}
.content-title{
    font-size: 60px;
    margin-bottom: 50px;

}
.p1{
    font-size: 18px;
    margin-bottom: 50px;
}
.pngwing10{
    width: 525px;

}
.btn-primary{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.layout{
    text-align: center;
    margin: 100px;
}
.flower-layout{
    font-size: 50px;
    margin-top: 130px;
}
.Pink-Flower-Tree{
    border: 5px solid  #E55473;
    border-radius: 1550px 1550px 40px 40px;
    width: 390px;
    height: 435px;
    display: inline-block;
    text-align: center;
}
.content-our-featured-flowers{
    text-align: center;
    word-wrap: 50px;
    word-wrap: initial;
    
}
.content-our-featured-flowers > .Pink-Flower-Tree{
    margin-top: 50px 50px;
}
.box-service{
    margin-top: 100px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.service-text{
   margin-top: 50px;
   margin-left: 2px;
   margin-right: 50px;
   margin-bottom: 2px;
   text-align: right;
}
.hot-deal{
    display: flex;
    justify-content: space-between;
}
.hot-header{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}
.text-color{
    color: red;
}
.instagram{
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding: 35px;
    text-align: center;
    font-size: 35px;
}
.instagram-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 0;
    margin-right: 0;
}
